<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PhotoMapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.diagnostics>
    <switches>
      <!--
        0 - Disabled
        1 - Enabled
        -->
      <add name="LogMode" value="0" />
    </switches>
  </system.diagnostics>
  
  <userSettings>
    <PhotoMapper.Properties.Settings>
      <setting name="OutName" serializeAs="String">
        <value>TestPhotoMapper</value>
      </setting>
      <setting name="LoadMap" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OutPath" serializeAs="String">
        <value>C:\Temp\TestPics</value>
      </setting>
      <setting name="NoListBox" serializeAs="String">
        <value>False</value>
      </setting>
    </PhotoMapper.Properties.Settings>
  </userSettings>
</configuration>